@use 'sass:map';
@import 'tailwindcss';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --breakpoint-xl: 75rem; /* 1200px */

  --container-8xl: 96rem; /* 1536px */
  --app-sidebar-width-md: 5rem;
  --app-sidebar-width-lg: 16rem;
}

@layer components {
  [class*='container-'] {
    width: 100%;
    margin: 0 auto;
  }

  .container-narrow {
    max-width: 38.75rem; /* 620px */
  }

  .container-default {
    max-width: 64rem; /* 1024px */
  }

  .container-wide {
    max-width: 87.5rem; /* 1280px */
  }

  .container-full {
    max-width: 100%;
    width: 100%;
  }
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
